 // end login from
 @media (max-width:767px) {
     .social-icons li.title {
         display: block;
         margin-right: 0;
         font-weight: 600
     }
 }
 
 @media only screen and(max-width: 700px) {
     .labiry-list-media {
         font-size: 18px !important;
         height: 80px !important;
         line-height: 25px;
     }
     .nav-item {
         margin-left: 15px !important;
     }
     .searchbutton {
         margin-left: 27px !important;
     }
     .navbar-light {
         padding-left: 0px !important;
     }
     .shopping-cart {
         position: absolute;
         top: 358px !important;
         margin-left: 12px;
     }
 }
 
 @media (max-width: 640px) {
     .wrapper {
         max-height: 500px !important;
     }
 }
 
 @media (max-width:991px) {
     .site-footer [class^=col-] {
         margin-bottom: 30px
     }
 }
 
 @media (max-width:767px) {
     .site-footer {
         padding-bottom: 0;
         position: relative;
         height: 495px !important;
         .copyright-text,
         .social-icons {
             text-align: center;
         }
     }
 }

  @media only screen and (min-width: 480px) and (max-width: 769px) { 
       
      .modal-content{
          margin-right:250px;
          min-width:440px !important;
          border-color:none;
      }
      .hr-notification-top{
          width:400px !important;
      }
   }

   