@import "./_media.scss";
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Pompiere', cursive;
    padding: 0;
    margin: 0;
    background-color: #fafbfb;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 122.05rem;
    margin: 0 auto;
    padding: 0 2.6rem;
}

// <...............navbar........>